.NotificationInscription {
 position: relative;
 display: flex;
 width: 700px;
 height: 110px;
 justify-content: center;
}

.NotificationInscription__tit {
 position: absolute;
 display: grid;
 font-size: 22px;
 font-weight: 300;
 font-style: italic;
 color: #f5faf74c;
 bottom: 10px;
}
