.NotificationInscription {
 position: relative;
 display: flex;
 width: 700px;
 height: 110px;
 justify-content: center;
}

.NotificationInscription__tit {
 position: absolute;
 display: grid;
 font-size: 24px;
 font-weight: 200;
 font-style: italic;
 color: #006227;
 bottom: 10px;
}
