.FeedbackButtons__section {
 display: flex;
 justify-content: space-between;
 padding: 0 45px;
 margin: 0;
 list-style-type: none;
}

.FeedbackButtons__item {
 list-style-type: none;
 position: relative;
}

.FeedbackButtons__button {
 position: relative;
 display: block;
 width: 150px;
 height: 50px;
 background: linear-gradient(black, transparent, black);
 /* background: linear-gradient(#025aa272, #011729b2 50%, rgba(2, 62, 142, 0.42)); */
 border: 0.3px solid rgba(149, 147, 147, 0.227);
 margin: 0;
 overflow: hidden;
 border-radius: 9px;
 color: #ffffff51;
 font-size: 22px;
 text-transform: uppercase;
 font-weight: 100;
 transition: all ease-out 700ms;
 /* box-shadow: 3px 3px 19px 3px #ffffff05; */
}

.FeedbackButtons__button:hover {
 color: #ffffffb0;
 transition: all ease-in 250ms;
 transform: scale(1.11);
 /* border-radius: 13px; */
 box-shadow: none;
 /* box-shadow: 1px 1px 7px 1px #4446466b; */
 background: linear-gradient(#ffffff25, transparent, #ffffff25);
 /* background: linear-gradient(
  #0994da7e,
  #02447a7e 50%,
  rgba(3, 121, 194, 0.486)
 ); */
}

/* .BtnGood:hover {
 color: #ffffffa3;
 transition: all ease-in 250ms;
 transform: scale(1.11);

 background: linear-gradient(#1ada0960, #0000008a 50%, #c24c03c5);
}

.BtnNeutral:hover {
 color: #ffffffa3;
 transition: all ease-in 250ms;
 transform: scale(1.11);

 background: linear-gradient(#09beda60, #0000008a 50%, #c24c03c5);
}

.BtnBad:hover {
 color: #ffffffa3;
 transition: all ease-in 250ms;
 transform: scale(1.11);

 background: linear-gradient(#da097860, #0000008a 50%, #c24c03c5);
}

button {
 display: block;
 width: 150px;
 height: 50px;
 background: linear-gradient(#025aa2e0, #00070ca0 50%, #025aa2bb);
 border: none;
 margin: 0;
 overflow: hidden;
 border-radius: 9px;
 color: #6caff2a3;
 font-size: 22px;
 font-weight: 100;
 transition: all ease-out 700ms;
} */

.FeedbackButtons__itemPlate {
 position: absolute;
 display: block;
 top: -3px;
 left: -29px;
 height: 38px;
 width: 69px;
 border-radius: 11px 2px 11px 11px;
 background-color: rgba(255, 255, 255, 0.075);
 /* background: linear-gradient(#00000085, #00070ca0 70%, #33393c18); */
}
