.FeedbackSection {
 display: grig;
 align-items: center;
 justify-content: space-between;
 width: 700px;
 height: 300px;
 border: 0.3px solid #9593933a;
 border-radius: 19px;
 background-color: #0505054d;
 margin: 40px auto;
 justify-content: center;
 align-items: center;
}
.FeedbackSection__title {
 display: block;
 padding: 20px 40px 32px;
 font-size: 30px;
 font-weight: 200;
 font-style: italic;
 color: #027f15;
}
