@import-normalize; /* bring in normalize.css styles */

body {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 background-color: #001c2e;
 height: 100vh;
 color: rgba(0, 255, 255, 0.243);
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Homework__title {
 color: #16daa98b;
 font-size: 22px;
 font-weight: 300;
 font-style: italic;
 padding: 30px;
}
